@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: url("../imagens/fundo-madeira.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 450px;
    width: 223px;
    background-image: url("../imagens/frame-iphone.png");
    background-repeat: no-repeat;
}
iframe#tela {
    position: relative; /*para mecher no top e left*/
    top: 56px;  /*posicionando o iframe*/
    left: 15px;
    width: 192px; /*largura certa*/
    height: 340px; /*altura certa*/
}
section#redes-sociais{
    text-align: right; /*deixando a section para o lado direito*/
}
section#redes-sociais img{
    width: 50px; /*diminuindo o tamanho da logo*/
    margin: 10px; 
    border-radius: 50%; /*deixando as logos redondas*/
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.452);
    box-sizing: border-box; /*a borda vai ser incluída no tamanho da imagem*/
}
section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.61);
    transform: translate(-3px, -3px); /*ele vai se mover para a esquerda e para cima*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.658);
    transition: transform 0.5s, border 1s;
}